.titulo {
  text-align: center;
  font-size: 16px;
  color: #e2e2e2;
}

.subtitulos {
  text-align: center;
  align-self: center;
  justify-self: center;
  font-size: 16px;
}

.subtitulo {
  align-self: center;
  justify-self: center;
  font-size: 17px;
}

.textarea {
  background-color: #f4a3618f;
  color: aliceblue;
  font-size: x-large;
}

.icon {
  color: #264653;
  font-size: xx-large;
  text-align:center;
}